[data-name="cueball"] {
    background-image: url("../images/balls/0ball.png");
    border-image-source: url("../images/balls/0ball.png");
}

[data-name="1ball"] {
    background-image: url("../images/balls/1ball.png");
    border-image-source: url("../images/balls/1ball.png");
}

[data-name="2ball"] {
    background-image: url("../images/balls/2ball.png");
    border-image-source: url("../images/balls/2ball.png");
}

[data-name="3ball"] {
    background-image: url("../images/balls/3ball.png");
    border-image-source: url("../images/balls/3ball.png");
}

[data-name="4ball"] {
    background-image: url("../images/balls/4ball.png");
    border-image-source: url("../images/balls/4ball.png");
}

[data-name="5ball"] {
    background-image: url("../images/balls/5ball.png");
    border-image-source: url("../images/balls/5ball.png");
}

[data-name="6ball"] {
    background-image: url("../images/balls/6ball.png");
    border-image-source: url("../images/balls/6ball.png");
}

[data-name="7ball"] {
    background-image: url("../images/balls/7ball.png");
    border-image-source: url("../images/balls/7ball.png");
}

[data-name="8ball"] {
    background-image: url("../images/balls/8ball.png");
    border-image-source: url("../images/balls/8ball.png");
}

[data-name="9ball"] {
    background-image: url("../images/balls/9ball.png");
    border-image-source: url("../images/balls/9ball.png");
}

[data-name="10ball"] {
    background-image: url("../images/balls/10ball.png");
    border-image-source: url("../images/balls/10ball.png");
}

[data-name="11ball"] {
    background-image: url("../images/balls/11ball.png");
    border-image-source: url("../images/balls/11ball.png");
}

[data-name="12ball"] {
    background-image: url("../images/balls/12ball.png");
    border-image-source: url("../images/balls/12ball.png");
}

[data-name="13ball"] {
    background-image: url("../images/balls/13ball.png");
    border-image-source: url("../images/balls/13ball.png");
}

[data-name="14ball"] {
    background-image: url("../images/balls/14ball.png");
    border-image-source: url("../images/balls/14ball.png");
}

[data-name="15ball"] {
    background-image: url("../images/balls/15ball.png");
    border-image-source: url("../images/balls/15ball.png");
}

[data-name="1000ball"] {
    background-image: url("../images/balls/1000ball.png");
    border-image-source: url("../images/balls/1000ball.png");
}

/* ball status/selection */

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 0px 2px black);
    background-size: 150%;
    background-position: center;
    border-radius: 20px;
    display: none;
    z-index: 8;
}

.ball[data-name="target"] {
    border: 2px solid white;
    pointer-events: none;
    z-index: 9;
}

.ball-icon {
    width: calc(100% / 8);
    height: calc(213px / 8);
    padding: 0;
    background-size: 175%;
    background-position: center;
    cursor: default;
}

/* ball status/selection */