html {
    height: 100vh;
    width: 100vw;
    user-select: none;
}

html, body {
    overflow: hidden;
}

html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
}

webview {
    width: inherit;
    height: inherit;
}

form fieldset:not(.show) {
    display: none;
}

[hidden] {
    display: unset !important;
}

[disabled] {
    pointer-events: none;
}

[disabled] ._btn {
    filter: grayscale(1);
}

/* ---- */

#ateball-webview {
    width: 900px;
    height: 600px;
}

#ateball button, label {
    font-weight: 600;
}

#ateball-debug-panels {
    position: relative;
}

#ateball-debug-panel {
    height: 100%;
}

#ateball-debug-console {
    will-change: transform;
}

#ateball-toggle {
    flex: 33%;
}

#debug-controls {
    width: 300px;
    max-width: 300px;
    height: 100%;
}

#game-container {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#logo_header {
    width: inherit;
    height: inherit;
}

#loading-background {
    width: inherit;
    height: inherit;
}

#loading-header {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#loading-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    display: block;
}

#loading-overlay img {
    position: absolute;
    pointer-events: none;
}

#loading-spinner {
    z-index: 1;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 0;
    margin: auto;
    transform: scale(.5);
    
}

#gamemode-controls {
    width: 300px;
    max-width: 300px;
    position: relative;
}

#gamemode-pending-overlay {
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    position: absolute;
    display: none;
}

#pending-cancel {
    width: 100%;
    position: absolute;
    left: 0;
    top: 6px;
    text-align: center;
    font-size: small;
    line-height: 24px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}

#pending-cancel:hover {
    color: #ff1717;
}

#pending-container {
    margin: auto;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ---- */

._btn {
    width: 100%;
    height: 32px;
    padding: 0 4%;
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-shadow: 1px 0px 4px #000000;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#ccc));
    border: unset; /* perhaps not? looks better without? */
    opacity: unset;
    outline: none;
}

._btn[disabled] {
    cursor: default;
    color: #d3d3d3;
    filter: grayscale(100%);
    transition: filter 1s;
}

._btn.slim {
    height: 24px !important;
    line-height: 24px;
}

.console {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word; 
    font-size: 12px;
}

.crosshair {
    cursor: crosshair !important;
}

.dropdown::after {
    content: "▾";
    margin-right: auto;
    float: right;
}

.dropdown.open::after {
    content: "▴";
    margin-right: auto;
    float: right;
}

.gamemode[disabled] * {
    pointer-events: none;
}

.header {
    height: 32px;
}

.header.slim {
    height: 24px;
}

/* pending spinner */

.loader {
    width: 36px;
    height: 36px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
  
/* pending spinner */

.log-object {
    border-top: solid #dddddd 1px;
    padding: 2px 4px;
    line-height: 1em;
}

.log-object > .empty {
    height: 1em;
}

.log-object.error {
    color: #ff0000;
    background-color: #fff0f0;
}

.menu {
    display: none;
}

.menu-btn.open, .sub-menu-btn.open {
    border-width: initial;
    border-style: initial;
    border-image-slice: 1;
    border-style: inset;
}

.menu-select {
    width: 100%;
    height: 100%;
    color: #036;
    font-weight: 600;
    border-radius: 0;
}

.menu-select:focus-visible {
    outline: unset;
}

.menu-select[disabled] {
    color: #a1a3a5;
}

.menu-select option {
    color: #036;
    font-weight: 600;
}

.nav-tabs {
    border-bottom: unset !important;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.5);
}

.play-btn {
    height: 100%;
}

.play-btn.green {
    border-color: #419533;
    background-image: -webkit-linear-gradient(top, #4fbf4c, #0a7201);
}

.play-btn.green:not([disabled]):hover {
    border-color: #0d8f01;
    background-image: -webkit-linear-gradient(top, #59d354, #0d8f01);
}

.sub-menu-btn {
    font-size: .9em;
}

._btn-group {
    display: flex;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

._btn-group:not(.active) {
    flex-grow: 0 !important;
    flex-shrink: 1 !important;
}

._btn-group.active {
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
}

._btn-group.swap-btn-wrapper .swap-btn:not(.active) {
    width: 0;
}

.toggle {
    position: relative;
    display: block;
    width: 100%;
}
  
.toggle input:not([type=range]) {
    visibility: hidden;
    width: 0;
    height: 0;
}
  
.option-toggle-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
}
  
.toggle-btn:before {
    position: absolute;
    content: attr(data-content);
    background-color: white;
    color: #036;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    padding: 0 2px;
}

.option-toggle-btn {
    display: flex;
    overflow: hidden;
}
  
.option-toggle-btn .option {
    flex: 1 0 0%;
    text-align: center;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    background-color: #e3e3e3;
    color: #939393;
}

input:checked + .option-toggle-btn.inverse .option:nth-child(1),
input:not(:checked) + .option-toggle-btn.inverse .option:nth-child(2) {
    background-color: white;
    color: #036;
}

input:not(:checked) + .option-toggle-btn:not(.inverse) .option:nth-child(1),
input:checked + .option-toggle-btn:not(.inverse) .option:nth-child(2) {
    background-color: white;
    color: #036;
}

.slider {
    background-color: white;
}

.slider label {
    width: 100%;
    text-align: center;
    color: #036;
}

.slider input[type=range] {
    width: 100%;
}